/*body >* { background: rgba(255,0,0,0.3);}
body >*>*>*{background:rgba(255,255,0,0.3); }
body >*>*>*>* {background:rgba(0,0,255,0.3); }
body >*>*>*>*>* {background:black; }  */

body{
    margin: 0;
    padding: 0;
    font-family:"Roboto", Arial, sans-serif;
    color:white;
    background-color: #849d8f;
    width:1200px;
    height:2416px;
   
}

a {
    text-decoration: none;
}

/* Навигация */

.main-navigation{
    display:flex;
    flex-direction: row;
    min-height: 74px;
    margin-bottom: 14px;
    width: 1200px;
    
}
.main-navigation-logo{
    display: flex;
    width: 156px;
    height: 66px;
    margin-right: 27px;
   

}
.site-navigation a,
.user a {
  color:#ffffff;
}

.site-navigation-catalog{
    font-size: 16px;
    line-height: 18px;
    display:flex;
    
    font-weight: bold;
    text-decoration:underline;
    
}
.site-navigation-catalog-2{
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    background-color:#d07058;
}
.catalog-new-ice a{
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    color: #323232;
 
}
.site-navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:38px;
    margin-right:375px;
    padding:0;
    list-style:none;
}
.user{
    display: flex;
    flex-direction: row;
    margin-top:24px;
    
    padding:0;
    list-style:none;
}
.catalog-sub-menu,
.registration {
    list-style:none;
    
}

.catalog-sub-menu a{
    font-size: 14px;
    line-height: 16px;
    color: #323232;
}
.catalog-sub-menu a:hover,
.catalog-sub-menu a:focus {
    background-color: #fbded8;
    
}
.site-nav-info {
    font-size: 16px;
    line-height: 18px;
    text-decoration:underline;
}

/* Выпадающие формы */
.dropdown-inner{
    background-color:#f8f7f4;
    display: none;
} 

.search-form-user {
    font-size: 14px;
    line-height: 24px;
}
.registration a{
    font-size: 13px;
    line-height: 24px;
    color: #323232; 
    text-decoration:underline;
}
.email-user,
.password-user{
    font-size: 14px;
    line-height: 24px;   
} 



.header-info-time{
    font-size: 14px;
    line-height: 16px; 
    font-weight: bold;
}
.header-info-number{
    font-size: 22px;
    line-height: 24px; 
    font-weight: bold;
}
.description-choice span{
    font-size: 13px;
    line-height: 16px;
    color: #323232; 
}
.x-price{
    opacity:0.5;
}

/* Страница */
.breadcrumbs{
    list-style:none;
    font-size: 14px;
    line-height: 16px;

}.breadcrumbs a {
   color: white;
   font-size: 14px;
   line-height: 16px; 
   text-decoration:underline;

}
.page-title{
   font-size: 35px;
   line-height: 41px;
   font-weight: bold;
}
.catalog-list{
    list-style:none;

}
.catalog-list a{
    color: white;
}
.catalog-item-price{
    font-size: 45px;
   line-height: 45px;
   font-weight: bold;
   
}

.catalog-item-name {
    font-size: 16px;
    line-height: 22px;
    text-decoration:underline;
}
.catalog-item a:hover,
.catalog-item a:focus {
    opacity:0.3;
}
.main-total-price{
    font-size: 15px;
    line-height: 18px;
    font-weight: bold;
    color: #323232; 
}






.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
 }

.main-navigation {
    font-size: 16px;
    line-height: 18px;
    color:#ffffff;
    background-color: #849d8f;
}

.sub-menu a:hover,
.sub-menu a:focus {
    background-color: #fbded8;
    
}
.site-info{
    
    background-image: url(../img/wafer.png );
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    width: 1146px;
    min-height: 308px;
    border-radius:1%;
 
}
.site-info-title{
    font-size: 24px;
    line-height: 30px;
    color:#323232;
}
.site-info-main li{
    font-size: 16px;
    line-height: 22px;
    color:#323232;
    list-style:none;
}
.news-mailing{
    display:flex;
    flex-direction: row;

    
   
}
.news-blog{
    width: 560px;
    min-height: 220px;
    margin-left:27px;
    margin-right:27px;
    color:#323232;
    background-color: white;
    background-image: url(../img/strawberry.png);
    border-radius:5%;
}
.new-blog-title{
    font-size: 16px;
    line-height: 22px; 
    font-weight:400;
}
.news-blog-link{
    color:#323232;
    font-size: 24px;
    line-height: 30px;
    text-decoration:underline;
    font-weight: bold;
}
.mailing{
    width: 532px;
    min-height: 192px;
    margin-left:27px;
    margin-right:27px;
    background-color:#f8f7f4;
    border:7px solid;
    border-image: url(../img/postal-background.png) 7;
    border-radius:5%;
    
}
.mail-info {
    font-size: 16px;
    line-height: 22px;
    color:#5a5a5a;
}
.send-mailing-e-input {
    width: 368px;
    height: 46px;
    border-radius: 10%;
}
/*Модалка*/
.modal{
    background-color:#f8f7f4;
}
.modal-head{
    font-size: 24px;
    line-height: 28px;
    color:#323232;
}
.feedback-form input{
    font-size: 16px;
    line-height: 24px;

}
.button {
    width: 126px;
    height: 46px;
    border-radius:40%;
    color:white;
    background:#e95038; 
    border:none;
    
}


/*Подвал */
.footer-list-icon{
    display: flex;
    flex-direction: row;
    margin-right: 238px;
    

    list-style:none;
} 
.footer-list-info{
    display: flex;
    flex-direction: column;
    margin-right: 232px;
    list-style:none;
} 
.footer-footer-copyright
{
    display: flex;
    flex-direction: column;  
    margin-left:27px;

}

.footer-list-icon a,
.footer-list-info a{
    color: white
}
.link-documents{
    font-size: 13px;
    line-height: 18px;
    text-decoration:underline;
}
.copyright{
    font-size: 12px;
    line-height: 18px;
}

.link-academy {
    font-size: 12px;
    line-height: 18px;
    color:white;
    text-decoration:underline;
}
.container{
display: flex;
flex-direction: row;
margin-bottom:29px;
 
}

